@model ErpModel.Category

@{
    ViewBag.Title = "Edit Product";
    Layout = "_Layout";
}

@using (Html.BeginForm("Edit", "Category"))
{
    <h2>Edit product</h2>
    @Html.TextBoxFor(m => m.Name)
    @Html.TextBoxFor(m => m.Id)

    <input type="submit" value="Create" />
}


