@model IEnumerable<ErpModel.Category>

@{
    ViewData["Title"] = "Category List";
}

@foreach (var category in Model)
{
    <h2>@category.Name</h2>

    @Html.ActionLink("Edit Category","Edit","Category",new {id=@category.Id})
}
